@model IEnumerable<FoodItem>

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "List";
}

<div>
    <table>
        @foreach (FoodItem f in Model)
        {
            <tr>
                <td><a class="btn btn-link" asp-action="Details" asp-route-id="@f.Id.ToString()">@f.Name</a></td>
            </tr>
        }
    </table>
</div>
