@model IEnumerable<FoodItem>

@{
    Layout = "_Layout";
    ViewData["Title"] = "List";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h2>Food Item List</h2></div>
    <div class="panel-body">
        <table>
            @foreach (FoodItem f in Model)
            {
                <tr>
                    <td><a class="btn btn-link" asp-action="Details" asp-route-id="@f.Id">@f.Name</a></td>
                </tr>
            }
        </table>
    </div>
</div>